.PreviewContainer {
  @apply w-full rounded-xl border border-slate-200 bg-white p-4 shadow-sm;
  .preview-content {
    @apply flex flex-wrap items-center justify-center gap-4
    rounded-lg bg-slate-50 px-6 py-8 border border-slate-50 shadow-inner;
  }
}
