.QuickStart {
  @apply w-full flex flex-col gap-8;
  &__header {
    @apply flex flex-col gap-4;
  }
  &__section {
    @apply flex flex-col gap-4;
    .qs-section-title {
      @apply text-2xl font-semibold text-primary-900;
    }
    .qs-section-content {
      @apply flex flex-col gap-4;
      .prerequisite-list {
        @apply flex flex-col gap-2 text-slate-500;
        .prerequisite-item {
          @apply flex items-center gap-3;
          .check-icon {
            @apply text-primary-700 w-4 h-4 flex-shrink-0 aspect-square;
          }
        }
      }
      .qs-section-content-text {
        @apply text-slate-500;
      }
      .common-components-list {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4;
        .component-item {
          @apply w-full;
          .component-item-card {
            @apply hover:border-primary-700 transition-colors w-full max-w-full;
          }
        }
      }
      .qs-code-block {
        @apply bg-slate-50/60 border border-slate-200 rounded-lg p-4 overflow-x-auto;
        .qs-code {
          @apply text-sm font-mono text-slate-800;
        }
      }
      .ps-list {
        @apply text-sm text-slate-500 flex flex-col gap-2 mt-3;
        .ps-item-st {
          @apply text-primary-900;
        }
      }
      .styling-text {
        @apply text-slate-500;
      }
      .styling-code-section {
        @apply flex flex-col gap-2;
        .scs-text {
          @apply text-sm text-slate-900 font-semibold;
        }
      }
      .styling-hint {
        @apply text-slate-500 text-sm mt-3;
      }
    }
  }
  &__footer {
    @apply flex flex-col gap-2 p-6  bg-slate-100/40 rounded-lg border border-slate-200;
    .qs-footer-title {
      @apply font-semibold text-primary-900;
    }
    .qs-footer-subtitle {
      @apply text-slate-500 text-sm mb-2;
    }
    .qs-footer-actions {
      @apply flex flex-col sm:flex-row gap-3;
    }
  }
}