.HomeCta {
  @apply px-6 py-24 relative z-10 w-full;
  &__container {
    @apply rounded-xl p-12 text-center;
    @apply flex flex-col items-center gap-3 mx-auto max-w-5xl;
    @apply backdrop-blur-md backdrop-brightness-[.98];
    @apply border border-slate-300/50 shadow-md;
    @apply transition-colors hover:border-white/30;
    @apply max-md:p-6;
  }

  .home-cta-title {
    @apply text-4xl font-bold text-primary-900 max-md:text-3xl;
  }

  .home-cta-description {
    @apply text-lg text-slate-500 mb-5 max-w-2xl mx-auto max-md:text-base;
  }
}
