.Radio{
  @apply flex flex-row items-center gap-4 text-slate-950  transition-all duration-200 ease-in-out;
  &.small {
    @apply gap-2;
    .radio-input {
      @apply w-3 h-3;
      &::after {
        @apply text-xs w-2 h-2;
      }
    }
    .radio-label {
      @apply text-xs;
    }
  }
  &.medium {
    @apply gap-3;
    .radio-input {
      @apply w-4 h-4;
      &::after {
        @apply text-sm w-3 h-3;
      }
    }
    .radio-label {
      @apply text-sm;
    }
  }
  &.large {
    @apply gap-5;
    .radio-input {
      @apply w-6 h-6;
      &::after {
        @apply text-base w-5 h-5;
      }
    }
    .radio-label {
      @apply text-lg;
    }
  }
  .radio-input {
    @apply aspect-square border border-slate-400 rounded-full appearance-none flex;
    &:checked{
      @apply flex items-center justify-center;
      &::after {
        @apply flex items-center justify-center aspect-square;
        @apply content-[''] text-white text-center border border-white rounded-full;
      }
      &.purple {
        @apply bg-purple-500 border border-purple-500;
        &:focus {
          @apply ring-purple-500;
        }
      }
      &.blue {
        @apply bg-blue-500 border border-blue-500;
        &:focus {
          @apply ring-blue-500;
        }
      }
      &.green {
        @apply bg-green-500 border border-green-500;
        &:focus {
          @apply ring-green-500;
        }
      }
      &.red {
        @apply bg-red-500 border border-red-500;
        &:focus {
          @apply ring-red-500;
        }
      }
      &.yellow {
        @apply bg-yellow-500 border border-yellow-500;
        &:focus {
          @apply ring-yellow-500;
        }
      }
      &.gray {
        @apply bg-gray-500 border border-gray-500;
        &:focus {
          @apply ring-gray-500;
        }
      }
      &.orange {
        @apply bg-orange-500 border border-orange-500;
        &:focus {
          @apply ring-orange-500;
        }
      }
      &.pink {
        @apply bg-pink-500 border border-pink-500;
        &:focus {
          @apply ring-pink-500;
        }
      }
      &.fuchsia {
        @apply bg-fuchsia-500 border border-fuchsia-500;
        &:focus {
          @apply ring-fuchsia-500;
        }
      }
      &.cyan {
        @apply bg-cyan-500 border border-cyan-500;
        &:focus {
          @apply ring-cyan-500;
        }
      }
      &.teal {
        @apply bg-teal-500 border border-teal-500;
        &:focus {
          @apply ring-teal-500;
        }
      }
      &.indigo {
        @apply bg-indigo-500 border border-indigo-500;
        &:focus {
          @apply ring-indigo-500;
        }
      }
      &.violet {
        @apply bg-violet-500 border border-violet-500;
        &:focus {
          @apply ring-violet-500;
        }
      }
      &.emerald {
        @apply bg-emerald-500 border border-emerald-500;
        &:focus {
          @apply ring-emerald-500;
        }
      }
      &.lime {
        @apply bg-lime-500 border border-lime-500;
        &:focus {
          @apply ring-lime-500;
        }
      }
      &.amber {
        @apply bg-amber-500 border border-amber-500;
        &:focus {
          @apply ring-amber-500;
        }
      }
      &.rose {
        @apply bg-rose-500 border border-rose-500;
        &:focus {
          @apply ring-rose-500;
        }
      }
      &.sky {
        @apply bg-sky-500 border border-sky-500;
        &:focus {
          @apply ring-sky-500;
        }
      }
      &.light {
        @apply bg-slate-100 text-slate-700 border border-slate-300;
        &:focus {
          @apply bg-slate-100 ring-slate-500;
        }
      }
      &.dark {
        @apply bg-slate-700 border border-slate-100;
        &:focus {
          @apply ring-slate-100;
        }
      }
      &.transparent {
        @apply bg-transparent text-slate-500 border border-slate-500;
        &:focus {
          @apply ring-slate-500;
        }
      }
    }
    &:disabled {
      @apply cursor-not-allowed bg-opacity-60;
      &::after {
        @apply text-slate-200;
      }
    }
    &:focus {
      @apply outline-none ring-2 ring-offset-2;
    }
  }
  .radio-label{
    @apply font-medium;
  }
}