.Input {
  @apply flex w-full flex-col gap-1;
  .input-container {
    @apply relative flex w-full items-center rounded-lg border border-gray-300 bg-white text-gray-900;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-within:ring-blue-100 focus-within:border-blue-300 focus-within:ring-4 focus-within:outline-none;
    &.disabled {
      @apply cursor-not-allowed opacity-50;
      .input-form {
        @apply cursor-not-allowed opacity-50;
      }
    }

    .input-form {
      @apply w-full px-4 py-2;
    }

    &.lg {
      @apply h-14;
      .input-form {
        @apply px-4 py-3;
      }
    }
    &.md {
      @apply h-12;
      .input-form {
        @apply px-3.5 py-2.5;
      }
    }
    &.sm {
      @apply h-8;
      .input-form {
        @apply py-2 pr-2.5 pl-2 text-sm;
      }
    }
    &.xs {
      @apply h-6;
      .input-form {
        @apply px-2.5 py-2 text-xs;
      }
    }

    &:focus-within {
      @apply ring-blue-100 border-blue-300 ring-4 outline-none;
    }

    &:has(input[disabled]) {
      @apply cursor-not-allowed text-gray-400 opacity-50;
    }
  }
  .input-errors {
    @apply flex justify-end gap-1;
    .input-error {
      @apply text-right text-xs text-red-500 italic;
    }
  }
}