.Input {
  @apply flex w-full flex-col gap-1;
  .input-container {
    @apply relative flex w-full items-center rounded-md border border-slate-200 bg-white text-slate-900;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-within:ring-slate-100 focus-within:border-slate-300 focus-within:ring-2 focus-within:outline-none focus-within:ring-offset-1 focus-within:ring-offset-slate-500;
    &.disabled {
      @apply cursor-not-allowed opacity-50;
      .input-form {
        @apply cursor-not-allowed opacity-50;
      }
    }
    &.with-icon {
      @apply pl-3;
      .input-icon {
        @apply text-slate-400;
      }
    }

    .input-form {
      @apply w-full h-full rounded-md bg-transparent;
      &:focus {
        @apply outline-none;
      }
    }

    &.lg {
      @apply h-12;
      .input-form {
        @apply px-3.5 py-2.5;
      }
    }
    &.md {
      @apply h-10;
      .input-form {
        @apply py-2 pr-2.5 pl-2 text-sm;
      }
    }
    &.sm {
      @apply h-8;
      .input-form {
        @apply px-2.5 py-2 text-xs;
      }
    }

    &:has(input[disabled]) {
      @apply cursor-not-allowed text-slate-400 opacity-50;
    }
  }
  .input-errors {
    @apply flex justify-end gap-1;
    .input-error {
      @apply text-right text-xs text-red-500 italic;
    }
  }
}