@use "./components/nav_item/nav_item";
.Sidebar {
  @apply flex flex-col gap-4 w-64 bg-slate-700 top-0 left-0 bottom-0 overflow-y-auto z-40 fixed py-4;
  &::-webkit-scrollbar {
    @apply invisible;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  .sidebar-header {
    @apply flex items-center justify-start gap-4 pl-6 pt-6;
    .sidebar-title {
      @apply text-2xl font-semibold text-slate-50;
    }
  }
  .sidebar-menu {
    @apply flex flex-col gap-4 pl-3;
  }
}