.Badge{
  @apply flex flex-row items-center gap-1.5 px-1.5 py-1 rounded-md w-fit h-fit font-medium text-sm border border-transparent;
  &:hover{
    @apply brightness-90;
  }

  &.badge-rounded {
    @apply rounded-full px-3;
  }
  &.badge-primary{
    @apply text-primary;
    &.badge-with-border {
      @apply border border-primary-300;
    }
    &.badge-default{
      @apply bg-primary-200;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-primary-500 bg-opacity-70;
    }
  }
  &.badge-gray{
    @apply text-slate-500;
    &.badge-with-border {
      @apply border border-slate-300;
    }
    &.badge-default{
      @apply bg-slate-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-slate-500 bg-opacity-70;
    }
  }
  &.badge-red{
    @apply text-red-700;
    &.badge-with-border {
      @apply border border-red-300;
    }
    &.badge-default{
      @apply bg-red-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-red-500 bg-opacity-70;
    }
  }
  &.badge-yellow{
    @apply text-yellow-700;
    &.badge-with-border {
      @apply border border-yellow-300;
    }
    &.badge-default{
      @apply bg-yellow-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-yellow-500 bg-opacity-70;
    }
  }
  &.badge-green{
    @apply text-green-700;
    &.badge-with-border {
      @apply border border-green-300;
    }
    &.badge-default{
      @apply bg-green-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-green-500 bg-opacity-70;
    }
  }
  &.badge-orange{
    @apply text-orange-700;
    &.badge-with-border {
      @apply border border-orange-300;
    }
    &.badge-default{
      @apply bg-orange-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-orange-500 bg-opacity-70;
    }
  }
  &.badge-purple{
    @apply text-purple-700;
    &.badge-with-border {
      @apply border border-purple-300;
    }
    &.badge-default{
      @apply bg-purple-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-purple-500 bg-opacity-70;
    }
  }
  &.badge-blue{
    @apply text-blue-700;
    &.badge-with-border {
      @apply border border-blue-300;
    }
    &.badge-default{
      @apply bg-blue-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-blue-500 bg-opacity-70;
    }
  }
  &.badge-pink{
    @apply text-pink-700;
    &.badge-with-border {
      @apply border border-pink-300;
    }
    &.badge-default{
      @apply bg-pink-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-pink-500 bg-opacity-70;
    }
  }
  &.badge-fuchsia{
    @apply text-fuchsia-700;
    &.badge-with-border {
      @apply border border-fuchsia-300;
    }
    &.badge-default{
      @apply bg-fuchsia-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-fuchsia-500 bg-opacity-70;
    }
  }
  &.badge-cyan{
    @apply text-cyan-700;
    &.badge-with-border {
      @apply border border-cyan-300;
    }
    &.badge-default{
      @apply bg-cyan-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-cyan-500 bg-opacity-70;
    }
  }
  &.badge-teal{
    @apply text-teal-700;
    &.badge-with-border {
      @apply border border-teal-300;
    }
    &.badge-default{
      @apply bg-teal-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-teal-500 bg-opacity-70;
    }
  }
  &.badge-lime{
    @apply text-lime-700;
    &.badge-with-border {
      @apply border border-lime-300;
    }
    &.badge-default{
      @apply bg-lime-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-lime-500 bg-opacity-70;
    }
  }
  &.badge-amber{
    @apply text-amber-700;
    &.badge-with-border {
      @apply border border-amber-300;
    }
    &.badge-default{
      @apply bg-amber-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-amber-500 bg-opacity-70;
    }
  }
  &.badge-emerald{
    @apply text-emerald-700;
    &.badge-with-border {
      @apply border border-emerald-300;
    }
    &.badge-default{
      @apply bg-emerald-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-emerald-500 bg-opacity-70;
    }
  }
  &.badge-indigo{
    @apply text-indigo-700;
    &.badge-with-border {
      @apply border border-indigo-300;
    }
    &.badge-default{
      @apply bg-indigo-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-indigo-500 bg-opacity-70;
    }
  }
  &.badge-violet{
    @apply text-violet-700;
    &.badge-with-border {
      @apply border border-violet-300;
    }
    &.badge-default{
      @apply bg-violet-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-violet-500 bg-opacity-70;
    }
  }
  &.badge-rose{
    @apply text-rose-700;
    &.badge-with-border {
      @apply border border-rose-300;
    }
    &.badge-default{
      @apply bg-rose-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-rose-500 bg-opacity-70;
    }
  }
  &.badge-sky{
    @apply text-sky-700;
    &.badge-with-border {
      @apply border border-sky-300;
    }
    &.badge-default{
      @apply bg-sky-100;
    }
    &.badge-plain{
      @apply bg-transparent;
    }
    &.badge-filled {
      @apply text-white py-1 px-2.5 gap-2.5 bg-sky-500 bg-opacity-70;
    }
  }
  &.badge-light {
    @apply bg-slate-50/20 text-white border-white;
    &.badge-filled {
      @apply bg-white text-slate-950;
    }
  }
}