.PasswordInput {
  @apply flex w-full flex-col gap-1;
  &__label {
    @apply relative flex w-full items-center rounded-md border border-slate-200 bg-white text-slate-900;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply focus-within:ring-blue-100 focus-within:border-blue-300 focus-within:ring-2 focus-within:outline-none focus-within:ring-offset-2;
    &.disabled {
      @apply cursor-not-allowed opacity-50;
      .PasswordInput__input {
        @apply cursor-not-allowed opacity-50;
      }
    }


    &.large {
      @apply h-12;
      .PasswordInput__input {
        @apply px-3.5 py-2.5;
      }
    }
    &.medium {
      @apply h-10;
      .PasswordInput__input {
        @apply py-2 pr-2.5 pl-2 text-sm;
      }
    }
    &.small {
      @apply h-8;
      .PasswordInput__input {
        @apply px-2.5 py-2 text-xs;
      }
    }

    &:has(input[disabled]) {
      @apply cursor-not-allowed text-slate-400 opacity-50;
    }
    .eye-toggle {
      @apply focus:ring-0 focus:ring-transparent hover:bg-transparent;
    }
  }
  &__input {
    @apply w-full h-full rounded-md bg-transparent;
    @apply focus:outline-none focus-within:outline-none;
  }
  &__errors {
    @apply flex justify-end gap-1;
  }
  &__error {
    @apply text-right text-xs text-red-500 italic;
  }
}