@use "./components";
@use "./features";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: theme("colors.slate.50");
  --primary-100: theme("colors.slate.100");
  --primary-200: theme("colors.slate.200");
  --primary-300: theme("colors.slate.300");
  --primary-400: theme("colors.slate.400");
  --primary-500: theme("colors.slate.500");
  --primary-600: theme("colors.slate.600");
  --primary-700: theme("colors.slate.700");
  --primary-800: theme("colors.slate.800");
  --primary-900: theme("colors.slate.900");
  --primary-950: theme("colors.slate.950");
  --primary: var(--primary-500);
}

html, body {
  font-family: 'Poppins', Abel, "Roboto Slab", sans-serif;
  @apply h-auto min-h-screen relative;
}
.app, .docs-app {
  @apply min-h-screen min-w-full w-full h-auto flex flex-col;
}
.Home {
  @apply h-auto min-h-screen bg-slate-50 text-slate-950 relative overflow-x-hidden;
  @apply bg-center bg-cover bg-no-repeat;
  background-image: url("/images/hero-bg.svg");
  .home-section-reverse {
    @apply lg:flex-row-reverse ;
  }
}
.NotFound {
  @apply min-h-screen bg-slate-50 flex items-center justify-center;
  @apply bg-no-repeat bg-top bg-cover overflow-hidden;
  background-image: url("/images/hero-bg.svg");
  .not-found-container {
    @apply relative z-10 text-center max-w-2xl mx-auto;
    .not-found-header {
      @apply mb-8;
      .not-found-title {
        @apply text-[6rem] md:text-[7rem] font-bold text-slate-900 mb-4 leading-none tracking-tighter;
      }
      .not-found-line {
        @apply h-1 w-20 bg-slate-500 mx-auto rounded-full;
      }
    }
    .not-found-subtitle {
      @apply text-2xl md:text-3xl font-medium text-slate-700 mb-4 text-balance;
    }
  }
}
.page-container {
  @apply p-16 pl-64 max-w-6xl mx-auto w-full;
  .page-title {
    @apply text-4xl font-bold text-primary-900;
  }
  .page-subtitle {
    @apply text-lg font-medium text-slate-500;
  }
}
.code-highlight {
  @apply bg-slate-100 text-slate-700 rounded px-2 py-1 text-sm;
}


*::selection {
  @apply bg-slate-100/50 text-slate-900;
}