.Progress{
  @apply flex flex-row items-center w-full gap-3;
  .progress-bar{
    @apply w-full bg-slate-300 rounded-full h-2 overflow-hidden;
    &:before{
      content: "";
      @apply h-full transition-all duration-500 ease-out rounded-full w-[var(--value)] block;
    }
    &.height {
      @apply h-[var(--height)];
    }
    &:before {
      &.purple {
        @apply bg-purple-500 border border-purple-500;
      }
      &.blue {
        @apply bg-blue-500 border border-blue-500;
      }
      &.green {
        @apply bg-green-500 border border-green-500;
      }
      &.red {
        @apply bg-red-500 border border-red-500;
      }
      &.yellow {
        @apply bg-yellow-500 border border-yellow-500;
      }
      &.gray {
        @apply bg-gray-500 border border-gray-500;
      }
      &.orange {
        @apply bg-orange-500 border border-orange-500;
      }
      &.pink {
        @apply bg-pink-500 border border-pink-500;
      }
      &.fuchsia {
        @apply bg-fuchsia-500 border border-fuchsia-500;
      }
      &.cyan {
        @apply bg-cyan-500 border border-cyan-500;
      }
      &.teal {
        @apply bg-teal-500 border border-teal-500;
      }
      &.indigo {
        @apply bg-indigo-500 border border-indigo-500;
      }
      &.violet {
        @apply bg-violet-500 border border-violet-500;
      }
      &.emerald {
        @apply bg-emerald-500 border border-emerald-500;
      }
      &.lime {
        @apply bg-lime-500 border border-lime-500;
      }
      &.amber {
        @apply bg-amber-500 border border-amber-500;
      }
      &.rose {
        @apply bg-rose-500 border border-rose-500;
      }
      &.sky {
        @apply bg-sky-500 border border-sky-500;
      }
      &.light {
        @apply bg-slate-100 border border-slate-100 text-slate-700;
      }
      &.dark {
        @apply bg-slate-800 border border-slate-800;
      }
      &.transparent {
        @apply bg-slate-800 border border-slate-800 text-slate-500;
      }
    }
    &.transparent {
      @apply bg-transparent;
    }
    &.light {
      @apply bg-slate-700;
    }
  }
  .progress-value{
    @apply text-sm text-zinc-600 font-medium whitespace-nowrap;
  }
}