.Progress{
  @apply flex flex-row items-center w-full gap-3 transition-all duration-300 ease-in-out;
  .progress-bar{
    @apply w-full bg-slate-300 rounded-full h-2 overflow-hidden;
    &:before{
      content: "";
      @apply h-full transition-all duration-500 ease-out rounded-full w-[var(--value)] block;
    }
    &.height {
      @apply h-[var(--height)];
    }
    &:before {
      &.progress-purple {
        @apply bg-purple-500 border border-purple-500;
      }
      &.progress-primary {
        @apply bg-primary-500 border border-primary-500;
      }
      &.progress-blue {
        @apply bg-blue-500 border border-blue-500;
      }
      &.progress-green {
        @apply bg-green-500 border border-green-500;
      }
      &.progress-red {
        @apply bg-red-500 border border-red-500;
      }
      &.progress-yellow {
        @apply bg-yellow-500 border border-yellow-500;
      }
      &.progress-gray {
        @apply bg-gray-500 border border-gray-500;
      }
      &.progress-orange {
        @apply bg-orange-500 border border-orange-500;
      }
      &.progress-pink {
        @apply bg-pink-500 border border-pink-500;
      }
      &.progress-fuchsia {
        @apply bg-fuchsia-500 border border-fuchsia-500;
      }
      &.progress-cyan {
        @apply bg-cyan-500 border border-cyan-500;
      }
      &.progress-teal {
        @apply bg-teal-500 border border-teal-500;
      }
      &.progress-indigo {
        @apply bg-indigo-500 border border-indigo-500;
      }
      &.progress-violet {
        @apply bg-violet-500 border border-violet-500;
      }
      &.progress-emerald {
        @apply bg-emerald-500 border border-emerald-500;
      }
      &.progress-lime {
        @apply bg-lime-500 border border-lime-500;
      }
      &.progress-amber {
        @apply bg-amber-500 border border-amber-500;
      }
      &.progress-rose {
        @apply bg-rose-500 border border-rose-500;
      }
      &.progress-sky {
        @apply bg-sky-500 border border-sky-500;
      }
      &.progress-light {
        @apply bg-slate-100 border border-slate-100 text-slate-700;
      }
      &.progress-dark {
        @apply bg-slate-800 border border-slate-800;
      }
      &.progress-transparent {
        @apply bg-slate-800 border border-slate-800 text-slate-500;
      }
    }
    &.progress-transparent {
      @apply bg-transparent;
    }
    &.progress-light {
      @apply bg-slate-700;
    }
  }
  .progress-value{
    @apply text-sm text-zinc-600 font-medium whitespace-nowrap;
  }
}
:root {
  --blank: theme('colors.slate.300');
}
.RadialProgress {
  @apply aspect-square rounded-[50%] grid place-content-center transition-all duration-500 ease-in-out;
  &.progress-purple {
    background: conic-gradient(theme("colors.purple.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-primary {
    background: conic-gradient(theme("colors.primary.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-blue {
    background: conic-gradient(theme("colors.blue.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-green {
    background: conic-gradient(theme("colors.green.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-red {
    background: conic-gradient(theme("colors.red.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-yellow {
    background: conic-gradient(theme("colors.yellow.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-gray {
    background: conic-gradient(theme("colors.gray.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-orange {
    background: conic-gradient(theme("colors.orange.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-pink {
    background: conic-gradient(theme("colors.pink.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-fuchsia {
    background: conic-gradient(theme("colors.fuchsia.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-cyan {
    background: conic-gradient(theme("colors.cyan.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-teal {
    background: conic-gradient(theme("colors.teal.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-indigo {
    background: conic-gradient(theme("colors.indigo.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-violet {
    background: conic-gradient(theme("colors.violet.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-emerald {
    background: conic-gradient(theme("colors.emerald.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-lime {
    background: conic-gradient(theme("colors.lime.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-amber {
    background: conic-gradient(theme("colors.amber.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-rose {
    background: conic-gradient(theme("colors.rose.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-sky {
    background: conic-gradient(theme("colors.sky.500") var(--value, 0), var(--blank) 0);
  }
  &.progress-light {
    background: conic-gradient(theme("colors.slate.100") var(--value, 0), theme("colors.slate.700") 0);
  }
  &.progress-dark {
    background: conic-gradient(theme("colors.slate.800") var(--value, 0), var(--blank) 0);
  }
  &.progress-transparent {
    background: conic-gradient(theme("colors.slate.800") var(--value, 0), rgb(40, 40, 40, .05) 0);
  }

  &.progress-large {
    @apply w-20 h-20 text-sm whitespace-nowrap;
    &:after {
      @apply w-[calc(5rem*0.75)] p-1;
    }
  }
  &.progress-medium {
    @apply w-16 h-16 text-[.625rem];
    &:after {
      @apply w-[calc(4rem*0.775)] p-1;
    }
  }
  &.progress-small {
    @apply w-14 h-14 text-[.625rem] whitespace-nowrap;
    &:after {
      @apply w-[calc(3.5rem*0.725)] p-1;
    }
  }
  &.progress-show-percentage {
    &:after {
      @apply aspect-square grid bg-slate-50 place-content-center rounded-[50%];
      @apply text-zinc-950 font-medium;
      content: attr(data-progress);
      &.progress-light {
        @apply bg-slate-700 text-slate-100;
      }
    }
  }
  &:not(.progress-show-percentage) {
    &:after {
      @apply aspect-square grid bg-slate-50 place-content-center rounded-[50%];
      content: " ";
    }
  }
}