.HomeSection {
  @apply m-auto max-w-6xl w-full px-4 py-20 relative z-10;
}
.HomeSectionContainer {
  @apply flex gap-16 items-center px-2;
  @apply max-lg:flex-col;
}
.HomeSectionContent {
  @apply flex flex-col gap-6 w-full lg:w-1/2;
}
.HomeSectionText {
  @apply flex flex-col gap-1;
}
.HomeSectionTitle {
  @apply text-4xl font-bold text-primary-900 mb-4;
}
.HomeSectionDescription {
  @apply text-lg text-slate-600 leading-relaxed;
}
.HomeSectionIllustration {
  @apply bg-transparent backdrop-blur-md backdrop-brightness-[.98] rounded-lg p-4;
  @apply border border-slate-300/50 shadow-md;
  @apply transition-colors hover:border-slate-300/60;
  @apply max-w-full w-full lg:w-1/2;
  .illustration-content {
    @apply font-mono text-sm space-y-2;
    .illustration-command {
      @apply text-slate-900;
      .primary-command {
        @apply text-primary;
      }
    }
    .illustration-output {
      @apply text-slate-500 flex flex-col gap-1 text-xs truncate max-w-[95%] max-sm:text-[11px];
    }
  }
}
