.Collapse {
  @apply w-full flex flex-col border border-slate-200 rounded-lg bg-white shadow-sm transition-all duration-200 ease-in-out;
  .collapse-trigger {
    @apply w-full flex items-center justify-between gap-4 cursor-pointer  px-4 py-3;
    @apply text-slate-950 font-semibold text-lg;
    &:after {
      content: "\002B";
      @apply h-full aspect-square text-slate-800 text-lg font-medium flex justify-center items-center transition-transform duration-200 ease-in-out;
    }
  }
  &__toggle {
    @apply w-full flex flex-col border border-slate-200 rounded-lg bg-white shadow-sm transition-all duration-200 ease-in-out;
    &.open {
      .collapse-trigger {
        &:after {
          @apply rotate-[135deg];
        }
      }
      .collapse-content {
        @apply opacity-100 max-h-screen overflow-visible px-4 pb-3 mt-2;
      }
    }
    .collapse-trigger {
      @apply w-full h-full flex items-center justify-between gap-4 cursor-pointer  px-4 py-3;
      @apply text-slate-950 font-semibold text-lg;
      &:after {
        content: "\002B";
        @apply h-full w-auto aspect-square text-slate-800 text-xl font-medium flex justify-center items-center transition-transform duration-200 ease-in-out;
      }
    }
    .collapse-state {
      @apply hidden;
    }
    .collapse-content {
      @apply w-full opacity-0 max-h-0 overflow-hidden transition-all duration-200 ease-in-out px-4;
    }
  }
  &:not(&__toggle) {
    .collapse-content {
      @apply w-full opacity-0 max-h-0 overflow-hidden transition-all duration-200 ease-in-out px-4;
    }
    &:focus-within {
      .collapse-trigger {
        &:after {
          @apply rotate-[135deg];
        }
      }
      .collapse-content {
        @apply opacity-100 max-h-screen overflow-visible px-4 pb-3;
      }
    }
  }
}