.Modal {
  @apply fixed z-[900] inset-0 flex items-center justify-center bg-black bg-opacity-30 transition-all duration-200 ease-in-out;
  .modal-body {
    @apply relative z-10 p-4 bg-white rounded-lg shadow-md overflow-auto;
    @apply flex flex-col gap-0 max-w-[95vw] max-h-[95vh] m-auto;
    .modal-header {
      @apply flex items-center justify-end gap-4;
    }
  }
}