.CodePreview {
  @apply relative;
  &__code {
    @apply bg-slate-50/60 border border-slate-300/60 rounded-lg p-4 overflow-x-auto text-sm font-mono;
    .code-content {
      @apply text-slate-700;
    }
  }
  &__copy-button {
    @apply absolute top-3 right-3 border-slate-200;
  }
}