.PreviewSection {
  @apply w-full flex flex-col gap-5 border-b border-slate-500 pt-4 pb-6;
  .preview-title {
    @apply text-2xl text-slate-800 font-semibold;
  }
  .preview-list {
    @apply w-full flex flex-col gap-5;
  }
}