.Table {
  @apply w-full border-collapse overflow-x-auto shadow-md;

  &__head {
    @apply bg-white border-b border-slate-200;

    .TableRow {
      &__header-cell {
        @apply px-5 py-2.5 text-left text-sm font-semibold text-slate-600 whitespace-nowrap;
      }
    }
  }

  &__body {
    .TableRow {
      @apply cursor-pointer transition duration-200 ease-in-out;
      &:has(.TableRow__data-cell:hover) {
        @apply bg-slate-100;
      }
      &__data-cell {
        @apply px-6 py-4 text-sm font-medium text-slate-950;
      }
    }
  }
  &.default {
    .Table__body {
      .TableRow:not(:last-child) {
        @apply border-0 border-b border-slate-200;
      }
    }
  }
  &.striped {
    .Table__body {
      .TableRow {
        &:nth-child(odd) {
          @apply bg-slate-50;
        }
        &:nth-child(even) {
          @apply bg-white;
        }
        &:has(.TableRow__data-cell:hover) {
          @apply bg-slate-100;
        }
      }

    }
  }
  &.bordered {
    .Table__body {
      .TableRow:not(:last-child) {
        @apply border-b border-slate-200;
      }
      .TableRow__data-cell {
        @apply border-r border-slate-200;
        &:last-child {
          @apply border-r-0;
        }
      }
    }
    .Table__head {
      .TableRow {
        @apply border-b border-slate-200;
        &__header-cell {
          @apply border-r border-slate-200;
          &:last-child {
            @apply border-r-0;
          }
        }
      }
    }
  }
}
