.Avatar {
  @apply rounded-lg;
  &.avatar-small {
    @apply w-8 h-8 aspect-square;
  }
  &.avatar-medium {
    @apply w-10 h-10 aspect-square;
  }
  &.avatar-large {
    @apply w-14 h-14 aspect-square;
  }
  &.avatar-rounded {
    @apply rounded-full;
  }
  &.avatar-image {
    @apply bg-no-repeat bg-cover bg-center;
    &.avatar-with-border {
      @apply border border-primary-300;
      &.avatar-purple {
        @apply border-purple-400;
      }
      &.avatar-blue {
        @apply border-blue-400;
      }
      &.avatar-green {
        @apply border-green-400;
      }
      &.avatar-red {
        @apply border-red-400;
      }
      &.avatar-yellow {
        @apply border-yellow-400;
      }
      &.avatar-gray {
        @apply border-gray-400;
      }
      &.avatar-orange {
        @apply border-orange-400;
      }
      &.avatar-pink {
        @apply border-pink-400;
      }
      &.avatar-fuchsia {
        @apply border-fuchsia-400;
      }
      &.avatar-cyan {
        @apply border-cyan-400;
      }
      &.avatar-teal {
        @apply border-teal-400;
      }
      &.avatar-indigo {
        @apply border-indigo-400;
      }
      &.avatar-violet {
        @apply border-violet-400;
      }
      &.avatar-emerald {
        @apply border-emerald-400;
      }
      &.avatar-lime {
        @apply border-lime-400;
      }
      &.avatar-amber {
        @apply border-amber-400;
      }
      &.avatar-rose {
        @apply border-rose-400;
      }
      &.avatar-sky {
        @apply border-sky-400;
      }
      &.avatar-light {
        @apply border-gray-100;
      }
      &.avatar-dark {
        @apply border-gray-700;
      }
      &.avatar-transparent {
        @apply border-transparent;
      }
      &.avatar-primary {
        @apply border-primary;
      }
    }
  }
  &.avatar-initials {
    @apply flex items-center justify-center text-white font-semibold capitalize;
    &.avatar-small {
      @apply text-xs;
    }
    &.avatar-medium {
      @apply text-sm;
    }
    &.avatar-large {
      @apply text-lg;
    }
    &.avatar-purple {
      @apply bg-purple-500;
      &.avatar-with-border {
        @apply border border-purple-700;
      }
    }
    &.avatar-blue {
      @apply bg-blue-500;
      &.avatar-with-border {
        @apply border border-blue-700;
      }
    }
    &.avatar-green {
      @apply bg-green-500;
      &.avatar-with-border {
        @apply border border-green-700;
      }
    }
    &.avatar-red {
      @apply bg-red-500;
      &.avatar-with-border {
        @apply border border-red-700;
      }
    }
    &.avatar-yellow {
      @apply bg-yellow-500;
      &.avatar-with-border {
        @apply border border-yellow-700;
      }
    }
    &.avatar-gray {
      @apply bg-gray-500;
      &.avatar-with-border {
        @apply border border-gray-700;
      }
    }
    &.avatar-orange {
      @apply bg-orange-500;
      &.avatar-with-border {
        @apply border border-orange-700;
      }
    }
    &.avatar-pink {
      @apply bg-pink-500;
      &.avatar-with-border {
        @apply border border-pink-700;
      }
    }
    &.avatar-fuchsia {
      @apply bg-fuchsia-500;
      &.avatar-with-border {
        @apply border border-fuchsia-700;
      }
    }
    &.avatar-cyan {
      @apply bg-cyan-500;
      &.avatar-with-border {
        @apply border border-cyan-700;
      }
    }
    &.avatar-teal {
      @apply bg-teal-500;
      &.avatar-with-border {
        @apply border border-teal-700;
      }
    }
    &.avatar-indigo {
      @apply bg-indigo-500;
      &.avatar-with-border {
        @apply border border-indigo-700;
      }
    }
    &.avatar-violet {
      @apply bg-violet-500;
      &.avatar-with-border {
        @apply border border-violet-700;
      }
    }
    &.avatar-emerald {
      @apply bg-emerald-500;
      &.avatar-with-border {
        @apply border border-emerald-700;
      }
    }
    &.avatar-lime {
      @apply bg-lime-500;
      &.avatar-with-border {
        @apply border border-lime-700;
      }
    }
    &.avatar-amber {
      @apply bg-amber-500;
      &.avatar-with-border {
        @apply border border-amber-700;
      }
    }
    &.avatar-rose {
      @apply bg-rose-500;
      &.avatar-with-border {
        @apply border border-rose-700;
      }
    }
    &.avatar-sky {
      @apply bg-sky-500;
      &.avatar-with-border {
        @apply border border-sky-700;
      }
    }
    &.avatar-light {
      @apply bg-gray-100 text-gray-700;
      &.avatar-with-border {
        @apply border border-gray-300;
      }
    }
    &.avatar-dark {
      @apply bg-gray-700;
      &.avatar-with-border {
        @apply border border-gray-100;
      }
    }
    &.avatar-transparent {
      @apply bg-transparent text-gray-500;
      &.avatar-with-border {
        @apply border border-gray-500;
      }
    }
  }
}